@page "/employeedetails/{id}"

@if (Employee == null || Employee.Department == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1><p align="center" style="color: indigo;500">@Employee.FirstName @Employee.LastName</p></h1>
                </div>
                <hr>
                <div class="card-body text-center">
                    <img class="card-img-top" src="@Employee.PhotoPath"/>
                    <hr>
                    <p align="left" style="color: indigo;">
                    <h4 >First Name &nbsp;&nbsp;&nbsp;<p style="color: red;"><i>: @Employee.FirstName</i></p></h4>
                    <h4 >Last Name &nbsp;&nbsp;&nbsp;<p style="color: red;"><i>: @Employee.LastName</i></p></h4>
                    <h4 >Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="color: red;"><i>: @Employee.Email</i></p></h4>
                    <h4 >Date Of Birth &nbsp;<p style="color: red;"><i>: @Employee.DateOfBirth</i></p></h4>
                    <h4 >Gender &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="color: red;"><i>: @Employee.Gender</i></p></h4>
                    <h4 >Employee ID &nbsp;<p style="color: red;"><i>: @Employee.EmployeeId</i></p></h4>
                    <h4 >Department &nbsp;&nbsp;<p style="color: red;"><i>: @Employee.Department.DepartmentName</i></p></h4>
                    </p>
                </div>
                <h3>@Coordinates</h3>
                <button class="btn btn-outline-danger" @onclick="@Button_Click">@ButtonText</button>
                <div class="card-footer text-center @CssClass">
                    <hr>
                    <a href="/" class="btn btn-outline-danger m-1" style="color: danger;"> <b>BACK T0 H0ME</b></a>
                </div>
            </div>
        </div>
    </div>
}
